input{
    border:none;
    padding:10px 20px;
    border-radius: 5px;
    min-height: 30px;
    box-shadow: 2px 2px 3px 2px grey;
}
.list{
    margin-top:20px;
    
}

.list > li{
    list-style: none;
    line-height: 1.5;
    box-shadow: 2px 2px 2px 2px grey;
    padding:10px;
    margin-bottom:10px;
    border-radius: 5px;
    background-color: lightgreen;
}